.footer-container {
    background-color: rgb(143, 143, 143);
    padding: 10px 0;
    
    
    
    
    // display: flex;
    // flex-direction: column;
    // background-color: grey;
}

.footer-links {
    display: flex;
}