.footer {
    background-color: #4a4a4a;
    position: static;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 1rem;
}


.footer-container {
    padding: 10px 0;
    
    
    
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    
}