<!-- <aside class="aside">
    <section class="products">
        <div class="title-products">
            <p>¡Prepáralos con tus marcas favoritas!</p>
            <h3 id="vuelta-al-cole">VUELTA EL COLE</h3>
        </div> 

        <div class="diferents-products">
            
            <div class="backpack">   
                <img src="./images/niña-morena.png" alt="mochila">
                <p>Mochilas escolares</p>
            </div>

            <div class="case">
                <img src="./images/niño-rubio.png" alt="estuche">
                <p>Estuches</p>
            </div>
    
             <div class="bag">
                 <img src="./images/niña-rubia.png" alt="bolsa">
                <p>Bolsas de deporte</p>
            </div>

        </div>
 </section>
</aside> -->