<aside>
    <div>
        <p>¡Prepáralos con tus marcas favoritas!</p>
        <h1>VUELTA EL COLE</h1>

        <div>
            <article class="productos">
                <img class="productos-image-a" src="./images/niña-morena.png" alt="niña con materiales escolares">
                <p>Mochilas escolares</p>

            </article>
            <article class="productos">
                <img class="productos-image" src="./images/niño-rubio.png" alt="niño con materiales escolares">
                <p>Estuches</p>

            </article>
            <article class="productos">
                <img class="productos-image" src="./images/niña-rubia.png" alt="niña con materiales escolares">
                <p>Bolsas de deporte</p>

            </article>


        </div>







    </div>

    




    </section>
        






    </section>



   





</aside>