<aside class="aside">
    <div class="aside-information">
        <p>¡Prepáralos con tus marcas favoritas!</p>
        <h3 id="vuelta-al-cole">VUELTA EL COLE</h3>

        <div class="products">
            <article class="backpack">
                <img class="products-image-a" src="./images/niña-morena.png" alt="mochila">
                <p>Mochilas escolares</p>
            </article>
    
            <article class="case">
                <img class="products-image" src="./images/niño-rubio.png" alt="estuche">
                <p>Estuches</p>
            </article>
    
            <article class="bag">
                <img class="products-image" src="./images/niña-rubia.png" alt="bolsa">
                <p>Bolsas de deporte</p>
            </article>

        </div>
    
    </div>

</aside>