<footer class="footer">
    <div class="footer-container">
        <a href="">
            <img src="/public/images/ico-arrow.svg" alt="flecha">
        </a>
        
    
        <div class="footer-links">
            <ul>
                <li><p>&copy;2023</p></li>
                <li><p>we <i class="fa-solid fa-heart"></i> run</p></li>
            </ul>

            <ul>
                <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
                <li><a href="https://adalab.es/">ROPA</a></li>
                <li><a href="https://adalab.es/">NIÑO/A</a></li>
                <li><a href="https://adalab.es/">DESTACADOS</a></li>
                <li><a href="https://adalab.es/">TIPS</a></li>
            </ul>
        
            <ul>
                <li><a href="https://adalab.es/">TWITTER</a></li>
                <li><a href="https://adalab.es/">INSTAGRAM</a></li>
                <li><a href="https://adalab.es/">YOUTUBE</a></li>
            </ul>
        </div>

    </div>
    
</footer>