<footer class="footer">
    <img src="/public/images/ico-arrow.svg" alt="flecha">
    <ul>
        <li>
            <p></p>
        </li>
        <li>
            <p>we <i class="fa-solid fa-heart"></i> run</p>
        </li>
    </ul>

    <ul>
        <li>
            <p>ZAPATILLAS</p>
        </li>
        <li>
            <p>ROPA</p>
        </li>
        <li>
            <p>NIÑO/A</p>
        </li>
        <li>
            <p>DESTACADOS</p>
        </li>
        <li>
            <p>TIPS</p>
        </li>
    </ul>

    <ul>
        <li>
            <p>TWITTER</p>
        </li>
        <li>
            <p>INSTAGRAM</p>
        </li>
        <li>
            <p>YOUTUBE</p>
        </li>
    </ul>



</footer>