
<header class="header">

    <div class="navbar">

        <a href="https://adalab.es/"><img class="burguer-menu" src="./images/ico-menu.svg" alt="menu-burguer"></a>
        <!-- <img class="hero-image" src="./images/niña-portada-v.jpg" alt=""> -->
    </div>
    

    <div class="header-content container">
        <div class="header-txt">
            
            <h1>COMIENZOS COMPARTIDOS</h1>
            <p>Todo lo que necesitan para volver al cole con ilusión</p>
            <a href="#vuelta-al-cole" img src="/public/images/ico-scroll-down.svg" alt="arrow down"></a>
        </div>
    </div>
        

</header>
