<main>
    <section class="main">
        <section class="about"> 
            <h2>HISTORIAS, MODA Y ROPA DEPORTIVA</h2>
            <h3>TU TIENDA DE DEPORTE</h3>
            <p>El deporte nos mantiene en forma. Nos mantiene alerta.Nuestra ropa deportiva para hombre y 
            mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal. </p>
            <a href="#">Comprar</a>
        </section>

        <section class="vuelta-cole">
            <h4 class="title">¡Prepáralos con tus marcas favoritas!</h4>
            <h5 class="subtitle">VUELTA EL COLE</h5>
    
            <div class="diferents-products">
                <div class="backpack">   
                    <img src="./images/niña-morena.png" alt="mochila">
                    <p>Mochilas escolares</p>
                </div>
    
                <div class="case">
                    <img src="./images/niño-rubio.png" alt="estuche">
                    <p>Estuches</p>
                </div>
        
                 <div class="bag">
                     <img src="./images/niña-rubia.png" alt="bolsa">
                    <p>Bolsas de deporte</p>
                </div>
            </div>
    
            <button>Empezar ahora</button>
        </section>
    
    </section>  

     
</main>









    </section>
    


</main>

